.wrapper {
  display: flex;
  width: 100%;
  height: 800px;
  justify-content: center;
}
.box {
  display: flex;
  flex-flow: row nowrap;
  width: 1111px;
  height: 640px;
  border-radius: 15px;
  background-color: #e7816b;
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
}
.box::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url("/images/bg-pattern-hero-desktop.svg") 35% 50% no-repeat;
  transform: rotate(180deg);
}
.text {
  width: 540px;
  height: 253px;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 540px;
  height: 350px;
  gap: 32px;
  margin-left: 100px;
}
.content h1 {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: 400;
  height: 165px;
}
.content p {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  width: 445px;
  height: 78px;
}

.images {
  display: flex;
  width: 640px;
  overflow: hidden;
}
.images img {
  position: absolute;
  width: fit-content;
  height: 800px;
  top: 55px;
  right: -90px;
}

@media (max-width: 1024px) {
  .wrapper {
    height: 953px;
    align-items: flex-start;
    justify-content: center;
  }
  .box {
    flex-flow: column nowrap;
    width: 689px;
    height: 843px;
    align-items: center;
  }
  .box::before {
    background: url("/images/bg-pattern-hero-desktop.svg") 30% 50% no-repeat;
  }
  .text {
    height: 243px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .content {
    align-items: center;
    justify-content: center;
    width: 573px;
    height: 326px;
    gap: 24px;
    margin-top: 60px;
    margin-left: 0;
  }
  .content h1 {
    text-align: center;
    height: 165px;
  }
  .content p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    z-index: 1;
    width: 445px;
    height: 78px;
  }

  .images img {
    position: absolute;
    width: fit-content;
    height: 800px;
    top: 350px;
    right: 70px;
  }
}

@media (max-width: 712px) {
  .wrapper {
    height: 933px;
    align-items: flex-start;
  }
  .box {
    width: 375px;
    border-radius: 0;
    height: 843px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .box::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url("/images/bg-pattern-hero-desktop.svg") -70% 49% no-repeat;
    transform: rotate(180deg);
  }
  .text {
    width: 375px;
    height: 232px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .content {
    width: 100%;
    height: 312px;
    margin-top: 85px;
    gap: 24px;
  }
  .content h1 {
    font-size: 32px;
    line-height: 36px;
    height: 118px;
    width: 375px;
  }
  .content p {
    width: 327px;
    height: 100px;
  }

  .images img {
    top: 370px;
    right: -88px;
  }
}
