.card {
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  max-height: fit-content;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
