.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 524px;
}
.box {
  display: flex;
  flex-flow: row nowrap;
  width: 1111px;
  height: 364px;
  gap: 30px;
}
.box h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.first {
  width: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}
.second {
  width: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}
.third {
  width: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}
.circle {
  position: relative;
  height: 202px;
}
.first .circle::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0%;
  left: -100%;
  z-index: -1;
  background: url("/images/bg-pattern-small-circle.svg") 0 0 no-repeat;
  transform: rotate(90deg);
}
.second .circle::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/images/bg-pattern-small-circle.svg") 0 0 no-repeat;
  transform: rotate(0);
}
.third .circle::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url("/images/bg-pattern-small-circle.svg") 0 0 no-repeat;
  transform: rotate(270deg);
}
.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1024px) {
  .wrapper {
    height: 1340px;
    align-items: flex-start;
  }
  .box {
    width: 350px;
    height: 1230px;
    gap: 69px;
    flex-flow: column nowrap;
  }

  .first {
    width: 350px;
    height: 364px;
  }
  .second {
    width: 350px;
    height: 364px;
  }
  .third {
    width: 350px;
    height: 364px;
  }
  .content {
    width: 350px;
  }
}

@media (max-width: 712px) {
  .wrapper {
    height: 1278px;
  }
  .box {
    width: 350px;
    height: 1188px;
    gap: 48px;
  }
}
